
<div class="container" id="app_container">
<h1>Nextflix</h1>
<button type="button" class="button1" (click)="Loginbn()">Login</button>
  <div id="the_movie"></div>
</div>

<div class="Name" id="Name_movie">
  <h1>Movie List</h1>
  <label for="movie_id">Insert Id:</label><br>
  <input type="text" id="movie_id" name="movie_id" value=" "><br><br>
  <label for="movie_title">Insert Movie:</label><br>
  <input type="text" id="movie_title" name="movie_title" value=" "><br><br>
  <label for="movie_time">Insert time:</label><br>
  <input type="text" id="movie_time" name="movie_time" value=" "><br><br>
  <label for="movie_ratings">Insert movie rating:</label><br>
  <input type="text" id="movie_ratings" name="movie_ratings" value=" "><br><br>
  <label for="movie_year">Insert year:</label><br>
  <input type="text" id="movie_year" name="movie_year" value=" "><br><br>
  <button type="button" class="button2" onclick="postMovie()">Insert</button>
  <script src="mainmovie.js"></script>
</div>
