
/*div{
 font-size: 800%;
  color: #FFFF33;
  left: -800%;
}*/


/*.container{

 font-size: 800%;
  color: #FFFF33;
  left: -800%;
height: 1000px;
text-align: center;
vertical-align: middle;
border-style: solid;
border-width: 2px;
}*/


